{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>PillView</h1>
    <p>At PillView we are passionate about mapping medication. We are embarking on a journey that will take medication recognition into the 22nd century!  It is estimated that over 6 billion prescriptions will be filled in the US by the year 2030 and we want to be the most accurate tool capable of recognizing medication</p>
    <a href="https://www.pillview.com">PillView</a>
  </div>
{% endblock %}
